#header {
    background: #664c8f;
    height: auto;
    padding: 100px 100px
}
h1 {
    color: white;
    font-family: Arial;
    text-align: center;
}
a#download {
    display: block;
    text-align: center;
    width: 150px;
    margin: 0px auto;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    font-family: Arial;
    border: 1px solid #fff;
    text-decoration: none;
    border-radius: 10px;
}
