/* Style buttons */
.btn {
  background-color: DodgerBlue;
  border: none;
  color: #b955f2;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
img {
    max-width: 15%;
    width: 200px;
    // assume this is the default size
}
body {
        font-family: sans-serif;
          display: grid;
            justify-items: center;
              {#maindiv { width: 60%; }
                  text-shadow: 2px 2px 3px #000000;
}
}
